<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD Application</title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'tasks' %}">Tareas Pendientes</a>
            </li>
            <li>
                <a href="{% url 'tasks_completed' %}">Tareas Completadas</a>
            </li>
            <li>
                <a href="{% url 'create_task' %}">Create Tasks</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">Signup</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>