body{
    background-color: #202020;
    color: whitesmoke;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5px 20px;
}

.navbar {
    background: #404040;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: aqua;
}


.card{
    background: whitesmoke;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
}

.input{
    background-color: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}