{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100 flex-column-reverse flex-md-row">
        <div class="col-12 col-md-7 bloque bloque-Form text-start">
            <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-0">
                <div class="d-flex flex-center flex-column flex-lg-row-fluid">
                    <div class="w-lg-500px p-9">
                        <h2>Consultar un comunicado</h2>
                        <p>Introduce el código de tu comuinicado, el cual recibiste en tu correo o al final de realizar tu petición, junto a la comtraseña que indicaste en el formulario.</p>
                        <form class="form w-100" action="#" method="post">
                            {% csrf_token %}

                            {{ form | crispy }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 bloque bloque-Info text-start sticky-top">
            <div class="sticky-top">
                <h2>Pasos para el Comunicado</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ducimus provident ad est! Voluptatum quae impedit atque, quas officia rerum maxime totam iste aperiam aspernatur recusandae optio veniam hic quod repudiandae veritatis voluptate? Nesciunt, quos. Temporibus velit dicta ratione, quibusdam enim quos. Tempore, atque illum ullam cum itaque omnis placeat nostrum provident, beatae ad ab sed est aspernatur pariatur expedita numquam assumenda eius porro quam, accusantium rem nihil officia? Assumenda, consectetur deserunt. Repudiandae, animi ex. Laudantium cupiditate perferendis deleniti! Commodi quo necessitatibus veniam aspernatur iure ad ducimus fugiat quia, ipsam voluptatibus delectus. Nesciunt, nostrum facere? Et blanditiis atque tempore saepe!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}