{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100 flex-column-reverse flex-md-row">
        <div class="col-12 col-md-7 bloque bloque-Form text-start">
            <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-0">
                <div class="d-flex flex-center flex-column flex-lg-row-fluid">
                    <div class="w-lg-500px p-9">
                        <h2>Tu Comunicado</h2>
                        <p>Antes de cerrar o recargar la página recuerda guardar el código que sale a continuación y
                            recordar la contraseña introducida en el formulario. Si has rellenado el comunicado de forma
                            personal el código también llegará a tu correo</p>
                        <h3>{{codigo}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 bloque bloque-Info text-center sticky-md-top">
            <div class="sticky-top text-center">
                {% load static %}
                <a href="/"><img src="{% static 'media/logoCE.png' %}" alt="Logo" width="90" height="90"></a>
                <h2>Pasos para el Comunicado</h2>
                <div class="list-group lista-pasos text-center justify-content-center">
                    <button type="button" class="list-group-item list-group-item-action active pasos"
                        aria-current="true">
                        <a href="/comunicacion/forma/" class="stepper_link">Inicia</a>
                    </button>
                    <button type="button" class="list-group-item list-group-item-action pasos active"><a
                            href="/comunicacion/user/" class="stepper_link">Datos Personales</a></button>
                    <button type="button" class="list-group-item list-group-item-action pasos active"><a
                            href="/comunicacion/registro/" class="stepper_link">Datos Comunicado</a></button>
                    <button type="button" class="list-group-item list-group-item-action pasos active"><a
                            href="/comunicacion/finalizar/" class="stepper_link">Final</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}