{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium harum quisquam numquam sint voluptatibus fuga quia illum, reprehenderit ad minus inventore amet. Rem incidunt, iusto nihil natus eos voluptatibus error assumenda optio tenetur. Architecto nobis in earum culpa et natus id soluta assumenda totam, blanditiis, deserunt incidunt, iste sit sapiente tempora maxime unde odio quae repudiandae nihil cum eius. Sunt fugiat corporis explicabo laudantium natus veritatis. Minus fugiat maiores odio explicabo a earum beatae tempora voluptatem excepturi aliquid quis, nostrum quisquam repellat est quas reiciendis labore repellendus quidem magni commodi, architecto in molestias corrupti! Ab tempora adipisci quis ullam optio.</p>

<p>WebSite created by {{username}}</p>

{% endblock %}